body {
  text-align: center;
  font-family: avenir;
  color: #5D575B;
  background-color: #F9E8F2;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

img {
  border-color: black;
  border: 10px;
  border-radius: 50%;
}

h1 {
  font-size: 48px;
}

p {
  font-size: 20px;
  padding: 0px 150px 0px 150px;
}


div {
  padding: 30px 100px 40px 100px;
}

/* .zoom {
  background-image: image(Tara.jpeg);
  transition: transform .2s;
}

.zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
/*
