body {
  text-align: center;
  padding-top: 70px;
  font-family: 'Raleway', sans-serif;
  background-color: lightblue;
}

.jumbotron{
  background-image: url('title-background.jpeg');
  background-size: cover;
  background-attachment: fixed;
}

#navitems li {
    display: inline;
    align-items: center;
    padding: 0px 50px 0px 50px;
}

#navitems {
  margin: 20px;
  list-style-type: none;
  padding: 0;
}

#social-buttons {
  padding: 100px 30px 0px 30px;
}

header {
  padding: 250px 0px 150px 0px;
}

#Title {
  padding: 0px 0px 100px 0px;
}

ul {
  list-style-type: none;
  padding-right: 30px;
  align-items: center;
}

.section {
  padding: 80px 0px 80px 0px;
}
